@page
@model WEB315_Hobbies.Pages_hobbies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hobbies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hobbies[0].VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hobbies[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hobbies[0].cost)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.hobbies[0].placetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hobbies[0].visitcount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.hobbies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.placetype)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.visitcount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
